#back{
    text-align: center;
    background-color: white;
    font-size: 16px;
    padding: 10px 34px;
    border: 2px solid black;
    width: 5%;
    transition-duration: 0.4s;
}

#back:hover{
    background-color: grey;
    color: white;
}

#login{
    margin: auto;
    display: block;
    text-align: center;
    background-color: white;
    font-size: 16px;
    padding: 12px 36px;
    border: 2px solid black;
    width: 10%;
    transition-duration: 0.4s;
}

#login:hover{
    background-color: grey;
    color: white;
}

#pass{
    text-align: center;
    font-size: 14px;
}

#log{
    margin-left: 24%;
}

#box{
    width: 50%;
    height: 150px;
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    background-color: whitesmoke;
    display: block;
}